h2 {
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

h3 {
    width: 90%;
    height: 30%;
    margin: 0 auto;
}

.card {
    margin: 5% 5% 5% 5%;
    padding: 5%;
    width: 25rem;
    height: 100%;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.5);
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.card-display {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

figcaption {
    height: 20%;
}


img {
    width: 100%;
    height: 300px;
}

p {
    width: 80%;
    height: 20%;
    margin: 1% 10%;
}
