body {
    background-color: #f8f8ff;
}

.name{
    color: blue;
}

.name:hover {
    text-decoration: underline;
}

.name:visited {
    color: purple;
}

.card-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

h1 {
    width: 100%;
    text-decoration: underline;
}

h2 {
    width: 100%;
    height: 20%;
}

h3 {
    width: 90%;
    height: 30%;
}

.card {
    margin: 1% 1% 1% 1%;
    padding: 1%;
    width: 25rem;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.5);
}

.card-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 60%;
    height: 90%;
}

img {
    width: 100%;
    height: 100%;
}

p {
    width: 80%;
    height: 50%;
    margin: 25% 10%;
}

button {
    background-color: #444;
    color: white;
    border: none;
}

.post-btn {
    width: 30%;
    height: 10%;
}

button:hover {
    background-color: rgb(58, 58, 255);
}

.subscribe {
    background-color: #444;
    width: 20%;
    height: 20%;
    margin: 2rem 35%;
}
